.navbar {
    background-color: #C5C1C1 !important;
}

.navbar .navbar-nav.mr-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto {
    font-family: 'Kaushan Script', cursive;
}

.navbar .navbar-nav.ml-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto img {
    width: 70px;
    height: 50px;
}

.input-group-text i.fa-whatsapp { color: #25D366; } 
.input-group-text i.fa-phone { color: #34B7F1; } 
.input-group-text i.fa-envelope { color: #EA4335; } 

.contact-label {
    text-align: start; 
    padding-top: 8px; 
    cursor: pointer; 
    text-decoration: none; 
    color: inherit; 
}

.go-back-button {
    font-family: 'Adamina', sans-serif;
    text-decoration: none; 
    color: #5B40FF;
    margin-left: 20px; 
}  

.form-control {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #000000;
    font-weight: 600;
}