.navbar {
    background-color: #C5C1C1 !important;
}

.navbar .navbar-nav.mr-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto {
    font-family: 'Kaushan Script', cursive;
}

.navbar .navbar-nav.ml-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto img {
    width: 70px;
    height: 50px;
}

.house-plan-view {
    width: 500px;
    height: 320px;
    margin-left: -12px;
}

.more-details-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}

.form {
    border: 1px solid #000;
}

.left-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: lightgrey;
    float: left; 
}

.right-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: lightgrey;
    float: right; 
}

.text1 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.text2 {
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    margin-right: 18px;
}

.line {
    border: 0;
    border-top: 1px solid #000000;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%; 
}

.completion-year-text {
    margin-right: 84px;
}

.project-stage {
    margin-right: 54px;
}

.listed-on {
    margin-right: 102px;
}

.available-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}

.unit-types {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 8px;
}

.unit-types {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.unit-type {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
    margin-right: 20px; 
}

.line1 {
    border: 0;
    border-top: 1px solid #000000;
    margin-top: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%; 
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.black-button, .white-button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    height: 40px;
    width: 250px;
    text-align: center; 
}

.black-button {
    background-color: black;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.white-button {
    background-color: lightgrey;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
}

.unit-info-container {
    display: flex;
    justify-content: space-between;
    margin-left: 8px;
}

.unit-info-left, .unit-info-right {
    flex-basis: 50%;
}

.unit-info-left a, .unit-info-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-text {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000; 
}

.starting-from-button {
    background-color: lightgrey;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 10px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    border-radius: 5px;
}

.starting-form-button:hover {
    text-decoration: none;
    background-color: lightgrey;
    color: inherit;
}

.property-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-size: 13px; 
    color: #000000;
    margin-top: 10px;
    text-align: center;
}

.property-info-text {
    margin: 0 5px;
}

.property-info-icon {
    font-size: 13px;
    color: #000000;
    margin: 0 5px;
}

.bold-text {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.light-grey-text {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: lightgrey;
}

.fu-text {
    text-align: center;
}

.navbar2 {
    background-color: #f7f7f7;
    padding: 10px 0;
    text-align: center;
}

.navbar2 img {
    width: 180px; 
}

.request-button {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #000000;
    background-color: #F7F7F7;
    text-decoration: none; 
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
}

.go-back-button {
    font-family: 'Adamina', sans-serif;
    text-decoration: none; 
    color: #5B40FF;
    margin-left: 20px; 
}  