.body {
    background-color: #FCFCFC;
}

.phone-number {
    text-decoration: none; 
    color: red; 
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.go-back-link {
    text-decoration: none; 
    color: #000000; 
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.container {
    border: 1px solid #000;
    background-color: skyblue;
}