.navbar {
    background-color: #C5C1C1 !important;
}

.navbar .navbar-nav.mr-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto {
    font-family: 'Kaushan Script', cursive;
}

.navbar .navbar-nav.ml-auto .nav-link {
    font-family: 'Karma', sans-serif;
    font-weight: 600;
}

.navbar .navbar-brand.mx-auto img {
    width: 70px;
    height: 50px;
}

.container {
    padding: 20px;
}

.col-md-4 form {
    background-color: transparent;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid;
}

.col-md-8 .col form {
    background-color: transparent;
    padding: 20px;
    border-radius: 0px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid;
}

.form-title {
    font-family: 'Karma', sans-serif;
    font-size: 32px;
    color: #000000;
    font-weight: 600;
}

.form-subtitle, .form-subtitle2 {
    font-family: 'Karma', sans-serif;
    font-size: 25px;
    color: #000000;
}

label[for="name"], label[for="nationality"], label[for="date"] {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
    position: relative;
    top: -10px;
}

#name, #nationality, #date {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #A9A9A9;
    position: relative;
    top: -10px;
}

.form-control {
    border-radius: 0;
    border: 1px solid #000;
}

.input-group.date {
    position: relative;
}

#date {
    font-family: 'Karma', sans-serif;
    font-size: 13px;
    color: #A9A9A9;
    padding-right: 30px;
    width: 180px;
}

.input-group-text {
    cursor: pointer;
    color: #000000;
}

label[for="occupants"] {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
    position: relative;
    top: 10px; 
}

label[for="occupants"] {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
    position: relative;
    top: 10px; 
}

.col-6 input[type="number"] {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #D0D0D0;
    border: none;
}

.col-6 input[type="number"]::placeholder {
    color: #FFFFFF;
}

label[for="budget"] {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
    position: relative;
    top: 10px; 
}

.col-6 input[type="number"] {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #D0D0D0;
    border: none;
}

.col-6 input[type="number"]::placeholder {
    color: #FFFFFF;
}

.save-button {
    font-family: 'Karma', sans-serif;
    font-weight: bold;
    background-color: #0073FB;
    font-size: 15px;
    border: none;
    border-radius: 30px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    height: 38px;
    width: 128px;
}

.save-button:hover {
    background-color: #005BBB;
}

.user-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    margin: 0 auto; 
}

.user-icon img {
    width: 180px; 
    height: 140px;
    filter: grayscale(0%) invert(0%); 
    border-radius: 60px;
}

.user-icon:hover {
    background-color: #d0d0d0;
}

.change-picture-button {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #0073FB;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    width: 200px;
    text-align: center;
    margin: 0 auto;
    height: 38px;
    font-weight: bold;
}

.change-picture-button:hover {
    background-color: #005BBB;
}

.contact-details-text {
    font-family: 'Karma', sans-serif;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.phone-number-label {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
}

.email-label {
    font-family: 'Karma', sans-serif;
    font-size: 18px;
    color: #000000;
}

.edit-button {
    font-family: 'Karma', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #0073FB; 
    border: none;
    border-radius: 30px; 
    text-decoration: none;
    padding: 10px 20px;
    width: 100px; 
    height: 40px;
    display: inline-block;
    margin-top: 10px; 
    cursor: pointer;
    text-align: center;
}

.edit-button:hover {
    background-color: #005BBB; 
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    background-color: none; 
}

.scroll-up-button {
    display: flex;
    align-items: center;
    background-color: #FFFFFF; 
    padding: 10px 20px;
    border-radius: 0; 
    cursor: pointer;
    border: 1px solid;
}

.scroll-up-button img {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
}

.chat-text {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #000000; 
}